* {
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #FFF8DF;
}

#header {
	height: 60px;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	background-color: #9AE4E1;
	padding-top: 10px;
}

#footer {
	height: 30px;
	padding-top: 10px;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	background-color: #9AE4E1;
	margin-bottom: 0px;
	
}

#main {
	font-size: 18px;
	margin-left: 44%;
	margin-top: 3%;
	font-weight: bold;
	font-style: italic;
}

#myChart, #myChart2{
	margin-left: 18%;
	margin-bottom: 5%;
	margin-top: 5%;
}

.in {
	font-size: 16px;
	width: 100px;
}
